.invitationCard {
    height: 96px;

    .name {
        font-size: 15px;
        font-weight: 600;
    }

    .name:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .desc {
        font-size: 14px;
        color: #868585;
    }

    .ignore {
        padding: 4px 8px;
        color: #919191;
        background-color: white;
        border: none;
        font-weight: bolder;
        font-size: 15px;
    }

    .ignore:hover {
        cursor: pointer;
        border-radius: 4px;
        background-color: rgb(235, 235, 235);
    }

    .accept {
        padding: 4px 8px;
        border: 1px solid rgb(46, 100, 192);
        color: rgb(46, 100, 192);
        font-weight: 600;
        border-radius: 15px;
        background-color: white;
    }

    .accept:hover {
        background-color: rgb(229, 240, 253);
        padding: 3px 7px;
        cursor: pointer;
        border: 2px solid rgb(46, 100, 192);
    }
}